.visually-hidden {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
	/* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

body {
	position: relative;
	overflow: hidden;
}

.main-header {
	display: flex;
	margin-top: 16px;
	padding-left: 13px;
	justify-content: space-between;
	min-height: 41px;
}

.main-search-button {
	display: none;
}

.phone-call-back {
	display: none;
}

.main-header-logo {
	width: 83px;
	height: 30px;
	margin-left: -7px;
}

.main-header__your-sity {
	display: flex;
	width: 105px;
}

.your-sity-container {
	display: flex;
	position: relative;
}

.main-header__your-sity b {
	font-weight: 500;
	font-size: 10px;
	line-height: 11px;
	letter-spacing: 0.02em;
	font-weight: bold;
	color: #000000;
}

.your-sity-button {
	background-color: transparent;
	border: none;
	padding: 0;
	height: 20px;
	margin-top: -7px;
	width: 10px;
}

.your-sity-button img {
	height: 6px;
	width: 20px;
	transform: rotate(90deg);
}

.your-sity {
	font-weight: 300;
	font-size: 10px;
	line-height: 11px;
	color: #000000;
	cursor: pointer;
	width: 33px;
	white-space: nowrap;
	overflow: hidden;
}

.maint-header-phone {
	position: absolute;
	top: 30px;
	font-weight: 500;
	font-size: 10px;
	line-height: 11px;
	order: -1;
}

.maint-header-phone a {
	color: #0D0D0D;
}

.main-header-some-icons {
	margin-top: 3px;
}

.main-header-some-icons a {
	cursor: pointer;
	width: 18px;
	height: 14px;
	color: #000;
}

.main-header-some-icons span {
	font-size: 8px;
	line-height: 120%;
	margin-left: 3px;
}

.mobile-button {
	border: none;
	background-color: transparent;
	height: 21px;
}

.mobile-button__line,
.mobile-button__line2 {
	width: 21px;
	height: 3px;
	background: #FF000D;
	border-radius: 1px;
}

.mobile-button__line {
	box-shadow: 0 8px 0 #FF000D;
	margin-right: 7px;
}

.mobile-button__line2 {
	margin-top: 13px;
}

.button-search {
	display: none
}

//навигация
.main-nav {
	min-height: 580px;
	display: flex;
	width: 100%;
	flex-direction: column-reverse;
	justify-content: flex-end;
	position: absolute;
	top: 0;
	background-color: #fff;
	z-index: 9999;
	right: -102%;
	transition: 0.5s;
}

.nav-modal-position {
	right: 0;
}

.main-nav-menu-lists {
	margin: -3px 15px 0 15px;
}

.main-menu-item {
	cursor: pointer;
}

.main-menu-item span,
.main-menu-item-link a {
	position: relative;
	display: block;
	width: 100%;
	height: 50px;
	background: #FFFFFF;
	border: 1px solid #EEEEEE;
	box-sizing: border-box;
	border-radius: 3px;
	padding-top: 10px;
	text-align: center;
	color: #000000;
	font-weight: 500;
	margin-top: 5px;
	font-size: 14px;
}

.main-menu-item a {
	display: block;
	width: 100%;
	height: 50px;
	background: #F8F8F8;
	border: 1px solid #EEEEEE;
	box-sizing: border-box;
	padding-top: 10px;
	text-align: center;
	color: #000000;
	font-weight: 500;
}

.main-menu-item span:after {
	content: "";
	position: absolute;
	width: 15px;
	top: 20px;
	right: 13px;
	height: 10px;
	background-image: url(../img/redarrow.png);
	background-repeat: no-repeat;
}

.search-contrainer {
	margin: 0 auto;
	width: 100%;
	height: 66px;
}

.search-contrainer form {
	position: relative;
}

.search-contrainer input {
	display: none;
}

.search-input.opend-search-input {
	display: block;
	position: relative;
	width: 77%;
	height: 50px;
	background: #FFFFFF;
	border: 1px solid #EEEEEE;
	box-sizing: border-box;
	border-radius: 3px;
	margin-left: 15px;
	margin-top: 8px;
	padding-left: 10px;
}

.search-button {
	position: absolute;
	right: 21%;
	top: 15px;
	background-color: transparent;
	border: none;
	outline: none;
}

.close-search {
	position: absolute;
	right: 5%;
	top: -5px;
	margin-left: 10px;
	background-color: transparent;
	border: none;
	height: 50px;
	outline: none;
	margin-top: 8px;
}

.menu-lists.close-menu-item {
	display: none;
}

.main-menu-item:hover .menu-lists.close-menu-item {
	display: block;
}

.menu-lists {
	display: block;
}

@media (min-width: 500px) {
	.search-button {
		right: 21%;
	}
}

.main-header-search {
	display: none;
}
.some-icons-analitic:focus,
.some-icons-likes:focus,
.some-icons-analitic:hover,
.some-icons-likes:hover{
	text-decoration: none;

}

@media (min-width: 768px) {
	.main-header {
		margin-top: 13px;
		padding-left: 24px;
		justify-content: space-between;
		min-height: 54px;
	}
	.search-button {
		right: 22%;
	}
	.main-header-logo {
		width: 117px;
		height: 42px;
		margin-left: 0;
	}
	.main-header__your-sity {
		position: relative;
		flex-direction: column;
		min-width: 101px;
		order: -2;
		margin-top: 7px;
	}
	.main-header__your-sity b {
		font-weight: 700;
		font-size: 12px;
		line-height: 14px;
		letter-spacing: 0.02em;
	}
	.main-header__your-sity {
		width: 120px;
	}
	.your-sity {
		font-weight: 300;
		font-size: 12px;
		line-height: 14px;
		margin-top: 3px;
		width: auto;
		min-width: 25px;
		white-space: nowrap;
		overflow: auto;
	}
	//----------
	.your-sity-button {
		height: 20px;
		margin-top: -2px;
		margin-left: 5px;
		width: 10px;
		outline: none;
	}
	.your-sity-button img {
		height: 9px;
		width: 5px;
	}
	.phone-call-back {
		display: block;
	}
	.main-header-some-icons {
		margin-top: 12px;
		width: 270px;
	}
	.main-header-some-icons a {
		width: 45px;
		height: 17px;
		color: #000;
		margin-left: 33px;
	}
	.main-header-some-icons span {
		font-size: 14px;
		line-height: 120%;
		margin-left: 7px;
	}
	.mobile-button {
		margin-left: 5px;
		height: 21px;
		margin-left: 25px;
	}
	.button-search {
		display: inline-block;
		width: 18px;
		height: 18px;
		padding: 0;
		border: none;
		background-color: transparent;
		color: #000000;
		margin-left: 30px;
	}
	.maint-header-phone {
		position: static;
		font-weight: bold;
		font-size: 12px;
		line-height: 14px;
		margin-top: 8px;
		margin-left: -35px;
	}
	.phone-call-back {
		border: none;
		background-color: transparent;
		font-weight: 300;
		font-size: 14px;
		line-height: 120%;
		text-decoration-line: underline;
	}
	.main-header-search {
		display: block;
		width: 100%;
		background: #0D0D0D;
	}
	.main-header-search-container {
		height: 66px;
		margin: 0 auto;
		max-width: 1350px;
	}
	.main-header-search-container form {
		position: relative;
	}
	.main-header-search-container input {
		height: 50px;
		width: 90%;
		margin-left: 24px;
		background: #FFFFFF;
		border: 1px solid #EEEEEE;
		box-sizing: border-box;
		border-radius: 3px;
		padding-left: 18px;
	}
	.main-header-search-container input[value] {
		color: #787878;
		font-weight: 300;
		font-size: 14px;
		line-height: 16px;
	}
	.main-header-search-button {
		position: absolute;
		right: 8%;
		top: 20px;
		border: none;
		background-color: transparent;
	}
	.main-header-search-button:focus,
	.main-header-close-search:focus {
		outline: none;
	}
	.main-header-close-search {
		border: none;
		background-color: transparent;
		margin-left: 10px;
		height: 55px;
	}
	.main-header-close-search img {
		padding-top: 10px;
	}
}

//----------------------------------------------
@media (min-width: 1000px) {
	.maint-header-phone {
		order: -0;
	}
	.mobile-button {
		display: none;
	}
	.main-header {
		max-width: 1350px;
		margin: 0 auto;
		height: 116px;
		padding-left: 0;
	}
	.button-search,
	.main-header-close-search {
		display: none;
	}
	.main-header-logo {
		width: 212px;
		height: 78px;
		margin-top: 22px;
		flex-grow: 3;
		text-align: center;
	}
	.main-header__your-sity {
		margin-top: 45px;
		margin-left: 7px;
		flex-direction: row;
		width: 250px;
	}
	.main-header__your-sity b {
		font-weight: 700;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 0.02em;
	}
	.your-sity {
		margin: 0;
		font-weight: 300;
		margin-left: 7px;
		font-size: 14px;
		line-height: 16px;
	}
	.your-sity-button {
		margin-top: -3px;
		margin-left: 5px;
	}
	.main-header-some-icons {
		margin-top: 40px;
		width: 140px;
	}
	.maint-header-phone {
		margin-top: 35px;
		flex-grow: 0;
	}
	.maint-header-phone a {
		font-weight: bold;
		font-size: 22px;
		line-height: 25px;
		text-align: right;
	}
	.phone-call-back {
		font-weight: 300;
		font-size: 16px;
		line-height: 120%;
		margin-left: 60px;
		text-align: right;
	}
	.main-nav {
		margin: 0 auto;
		min-height: 1px;
		display: flex;
		width: 100%;
		height: 44px;
		flex-direction: row;
		justify-content: space-between;
		position: relative;
		top: 0;
		background-color: #fff;
		z-index: 1;
		right: 0;
		transition: 0s;
		background-color: #000000;
	}
	.search-contrainer {
		display: none;
	}
	.main-nav-menu-lists {
		margin: 0 auto;
		max-width: 1350px;
		display: flex;
		width: 100%;
		justify-content: space-between;
	}
	.main-nav-menu-lists span,
	.main-nav-menu-lists a {
		color: #ffffff;
		background-color: transparent;
		border: none;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		color: #FFFFFF;
		margin: 0;
	}
	.main-nav-menu-lists span:after {
		display: none;
	}
	.menu-lists {
		background: #FFFFFF;
		box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
		position: absolute;
		width: 300px;
	}
	.menu-lists a {
		color: #3F3D4A;
	}
	.main-search-button {
		display: block;
		background-color: transparent;
		border: none;
	}
	.main-search-button:focus {
		outline: none;
	}
}

@media (min-width: 1350px) {
	.main-search-button {
		margin-left: 175px;
	}
	.main-header-search-container input {
		width: 100%;
		margin-left: 0;
	}
	.main-header-search-button {
		right: 10px;
		top: 13px;
	}
}

//модалка перезвона
.main-header-search.modal-hidden,
.modal-call-back.modal-hidden,
.modal-choose-city.modal-hidden,
.bissnes-property.modal-hidden,
.residental-property.modal-hidden,
.land-property.modal-hidden,
.property-item-first.modal-hidden {
	display: none;
}

.modal-call-back,
.modal-choose-city {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 99999999999999999;
}

.modal-call-back__content {
	margin: 0 auto;
	position: absolute;
	top: 156px;
	width: 430px;
	min-height: 416px;
	background-color: #FFFFFF;
	z-index: 4;
	left: 50%;
	margin-left: -215px;
	border-radius: 3px;
}

.modal-call-back__close,
.modal-choose-city__close {
	position: absolute;
	right: 10px;
	top: 10px;
	border: none;
	background-color: transparent;
}

.modal-call-back__content h2 {
	font-size: 30px;
	line-height: 34px;
	text-align: center;
	letter-spacing: -0.02em;
	color: #0D0D0D;
	margin-top: 26px;
}

.modal-call-back__content p {
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	/* or 129% */
	text-align: center;
	color: #0D0D0D;
}

.modal-call-back__content form {
	margin-top: 39px;
	margin-left: 23px;
}

.modal-call-back__content label {
	display: block;
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: #0D0D0D;
	margin-top: 20px;
	margin-bottom: 10px;
}

.modal-call-back__content input {
	background: #FFFFFF;
	border: 1px solid #EEEEEE;
	box-sizing: border-box;
	border-radius: 3px;
	width: 371px;
	height: 50px;
	padding-left: 16px;
}

.modal-call-back__content .send-callback-reuqest {
	width: 371px;
	height: 50px;
	margin-top: 20px;
	color: #FFFFFF;
	background: #FF000D;
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	border-radius: 4px;
}

.modal-call-back__content .police-privacy {
	width: 400px;
	margin: 25px auto;
}

.modal-call-back__content .police-privacy p,
.modal-call-back__content .police-privacy div {
	font-weight: 300;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	color: #9A9A9A;
}

.modal-call-back__content .police-privacy div {
	text-decoration: underline;
}

.modal-choose-city__content {
	margin: 0 auto;
	position: absolute;
	top: 156px;
	width: 290px;
	min-height: 496px;
	background-color: #FFFFFF;
	z-index: 4;
	left: 50%;
	margin-left: -145px;
	border-radius: 3px;
	padding-left: 23px;
}

.chosen-city span {
	margin-top: 27px;
	display: flex;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: -0.02em;
	color: #0D0D0D;
}

.chosen-city p {
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #FF000D;
}

.choose-from-list {
	margin-top: 16px;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 18px;
	color: #0D0D0D;
}

.choose-list {
	margin-top: 16px;
	margin-bottom: 20px;
}

.choose-list li {
	font-weight: 300;
	font-size: 14px;
	line-height: 30px;
	color: #787878;
	cursor: pointer;
}

.choose-list li:hover {
	color: #000000;
}

// блок табов недвижимости
.choose-property-container {
	position: relative;
}

.choose-property2 {
	display: none;
}

.property {
	width: 100%;
	background-image: url(../img/mobile-background.png);
	background-repeat: no-repeat;
	padding-bottom: 20px;
}

@media (min-width: 321px) {
	.property {
		background-size: cover;
	}
}

.property-title {
	margin: 0 auto;
	font-weight: bold;
	font-size: 25px;
	line-height: 30px;
	width: 288px;
	padding-top: 25px;
	letter-spacing: -0.02em;
	margin-bottom: 12px;
	color: #FFFFFF;
}

.property-text {
	margin: 0 auto;
	width: 288px;
	font-weight: 300;
	font-size: 14px;
	line-height: 24px;
	/* or 171% */
	margin-bottom: 69px;
	color: #FFFFFF;
}

.property-container {
	margin: 0 auto;
	background: #FFFFFF;
	border-radius: 5px;
	width: 305px;
	min-height: 546px;
	padding-bottom: 50px;
	padding-top: 60px;
}

.choose-property-container {
	padding-top: 16px;
}

.choose-property-container p {
	font-weight: 300;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 0.02em;
	color: #5B5B5B;
	margin-left: 9px;
}

.choose-property {
	position: relative;
	width: 290px;
	height: 50px;
	overflow: hidden;
	background: #FFFFFF;
	border: 1px solid #EEEEEE;
	box-sizing: border-box;
	border-radius: 3px;
	margin-left: 7px;
}

.js-choose-propert {
	height: auto;
}

.choose-property::after {
	position: absolute;
	content: "";
	width: 15px;
	height: 15px;
	top: 20px;
	right: 20px;
	background-image: url(../img/redarrow.png);
	background-repeat: no-repeat;
}

.commercial {
	width: 100%;
	height: 50px;
	background: #FFFFFF;
	cursor: pointer;
	box-sizing: border-box;
	border-radius: 3px;
	margin-top: 18px;
	margin-left: 12px;
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
}

.commercial:hover {
	color: red;
}

.prices,
.area {
	margin-left: 9px;
	margin-top: 10px;
}

.prices div,
.area div {
	margin-bottom: 5px;
	font-weight: 300;
	font-size: 12px;
	line-height: 18px;
	/* or 150% */
	letter-spacing: 0.02em;
	color: #5B5B5B;
}

.prices input,
.area input {
	width: 139px;
	height: 50px;
	background: #FFFFFF;
	border: 1px solid #EEEEEE;
	box-sizing: border-box;
	border-radius: 3px;
	padding-left: 11px;
}

.prices input::placeholder,
.area input::placeholder {
	color: #0D0D0D;
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
}

.show {
	margin-left: 7px;
	width: 290px;
	height: 50px;
	background: #FF000D;
	border-radius: 4px;
	margin-top: 10px;
	border: none;
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #FFFFFF;
}

.show-on-map {
	margin-left: 7px;
	margin-top: 20px;
	width: 290px;
	height: 50px;
	border: 1px solid #0D0D0D;
	box-sizing: border-box;
	border-radius: 4px;
	background-color: transparent;
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #0D0D0D;
}

.show-on-map:hover {
	color: #FF000D;
}

.show:hover {
	color: #0D0D0D;
}

.mobile-mod {
	display: none;
}

.property-footer {
	background-color: #ffffff;
}

.advansed-block {
	float: left;
	margin-top: 20px;
}

.advansed-block p {
	display: none;
}

.advansed-block input::placeholder {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	line-height: 14px;
	color: #5B5B5B;
}

.advansed-block input {
	margin-left: 9px;
	width: 290px;
	height: 50px;
	padding-left: 12px;
	background: #FFFFFF;
	border: 1px solid #EEEEEE;
	box-sizing: border-box;
	border-radius: 3px;
	margin-bottom: 10px;
}

.advansed-search:first-child {
	border: none;
	position: relative;
	background-color: transparent;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	width: 305px;
	height: 50px;
	margin-top: 10px;
	color: #0D0D0D;
}

.advansed-search:first-child::after {
	position: absolute;
	content: "";
	width: 12px;
	height: 7px;
	top: 21px;
	right: 90px;
	background-image: url(../img/redarrow.png);
	background-repeat: no-repeat;
	transform: rotate(180deg);
}

.advansed-search-hidden {
	display: none;
}

.advansed-search-rotate:first-child::after {
	position: absolute;
	content: "";
	width: 12px;
	height: 7px;
	top: 21px;
	right: 50px;
	background-image: url(../img/redarrow.png);
	background-repeat: no-repeat;
	transform: rotate(0deg);
}

.advansed-search:first-child:focus {
	outline: none;
}

.property-checkboxes {
	display: block;
	background-color: #FFFFFF;
}

.property-checkbox label {
	position: relative;
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	padding-left: 30px;
	color: #5B5B5B;
	margin-top: 35px;
}

.property-checkbox label::before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	background: #FFFFFF;
	border: 1px solid #EEEEEE;
	box-sizing: border-box;
	border-radius: 3px;
	top: -3px;
	left: 0px;
}

.property-checkbox input:checked+label::after {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	top: 1px;
	left: 4px;
	background-image: url(../img/ok.png);
	background-repeat: no-repeat;
}

.property-checkbox {
	margin-left: 9px;
}

.property-checkbox label:nth-child(4) {
	margin-left: 15px;
}

.floor div,
.storeys div {
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: #5B5B5B;
	margin-left: 9px;
}

.tab4 .bathroom .choose-property,
.tab4 .balcony .choose-property,
.tab4 .repairs .choose-property,
.tab4 .street {
	width: 290px;
}
.tab-hidden {
	display: none;
}

.tab2 .width-mod {
	width: 160px;
}

.tab2 .street,
.tab3 .street,
.tab4 .street {
	border: 1px solid red;
	margin-left: 10px;
	padding-left: 5px;
	height: 50px;
	background: #FFFFFF;
	border: 1px solid #EEEEEE;
	box-sizing: border-box;
	border-radius: 3px;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #0D0D0D;
}

.tab4 .width-mod {
	width: 200px;
}

.tab4 .width-mod2 {
	width: 100px;
	margin-left: 9px;
}

@media (min-width: 768px) {
	.property {
		background-image: url(../img/backgroundTablet.png);
		background-size: 100%;
		height: 500px;
	}
	.mobile-mode-menu {
		display: none;
	}
	.property-title,
	.property-text {
		display: none;
	}
	.mobile-mod {
		display: block;
	}
	.property-container {
		min-width: 768px;
		background-color: transparent;
	}
	.dont-show {
		display: none;
	}
	.choose-property.desctop-mod {
		position: relative;
		width: 545px;
		height: auto;
		border: none;
		display: flex;
		background-color: transparent;
	}
	.choose-property.desctop-mod::after {
		display: none;
	}
	.desctop-mod .commercial {
		width: 135.69px;
		height: 74.91px;
		background: rgba(255, 255, 255, 0.7);
		padding-top: 21px;
		border-radius: 3.60158px;
		text-align: center;
		letter-spacing: 0.02em;
		margin-left: 1px;
	}
	.commercial.color-mod {
		background-color: #FFFFFF;
	}
	.commercial.color-mod span {
		color: #FF000D;
	}
	.desctop-mod .commercial:nth-child(2) {
		margin-left: 0px;
		border-bottom-left-radius: 0px;
	}
	.commercial span {
		display: block;
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		line-height: 16px;
		color: #0D0D0D;
	}
	.commercial:nth-child(3) span {
		margin: 0 auto;
		max-width: 80px;
	}
	.commercial:nth-child(4) span {
		margin: 0 auto;
		max-width: 80px;
	}
	.commercial:nth-child(5) span {
		margin: 0 auto;
		max-width: 80px;
	}
	.choose-property-shoosen-container {
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		background-color: #FFFFFF;
	}
	.choose-property.desctop-mod {
		margin-left: 0;
	}
	.choose-property {
		width: 170px;
		height: 50px;
	}
	.choose-property.width-mod {
		width: 130px;
	}
	.choose-property-shoosen-container {
		display: flex;
		margin: 0 auto;
		width: 768px;
		margin-top: -5px;
		min-height: 105px;
	}
	.prices {
		margin-left: 30px;
	}
	.prices input,
	.area input {
		width: 60px;
		height: 50px;
	}
	.choose-property-buttons {
		display: flex;
		margin-top: -4px;
		justify-content: flex-end;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		background-color: #FFFFFF;
		padding-bottom: 24px;
		border-radius: 5px;
	}
	.show-on-map,
	.show {
		margin-top: 0;
		width: 200px;
	}
	.show {
		margin-right: 24px;
	}
	.choose-property2 {
		display: block;
		position: absolute;
		background-color: #fff;
		width: 130px;
		left: 7px;
		border: 1px solid #EEEEEE;
		border-radius: 3px;
	}
	.choose-property2 li {
		margin: 0;
		padding-top: 16px;
		padding-left: 12px;
	}
	.closed-menu-property {
		display: none;
	}
	.advansed-block input {
		width: 180px;
	}
	.advansed-block {
		float: none;
		margin-top: 0px;
	}
	.property-checkbox label:nth-child(4) {
		margin-left: 39px;
	}
	.property-checkbox {
		margin-left: 46px;
	}
	.tab2 .street,
	.tab3 .street{
		width: 100px;
	}
	.tab4 .street{
		width: 170px;
height: 50px;
	}
	.tab4 .rooms .choose-property {
		position: relative;
		width: 69px;
		z-index: 20;
	}
	.tab4 .prices input,
	.tab4 .area input{
	
		width: 69px;
		height: 50px;

	}
	.property-checkbox label {
		display: none;
	}
	.tab4 .floor input,
	.tab4 .storeys input{
		width: 60px;
height: 50px;
	}
	.tab4 .bathroom .choose-property {
		width: 147px;
	}
	.tab4 .balcony .choose-property {
		width: 100px;
	}
	.tab4 .repairs .choose-property {
		width: 177px;
	}
	.bathroom p,
	.balcony p,
	.repairs p{
		position: absolute;
		display: inline;
		top: 0;
	}
	.bathroom ,
	.balcony ,
	.repairs {
	padding-top: 16px;	
	position: relative;
	}
	.tab4--mod .choose-property{
		width: 170px;
height: 50px;
	}
	//  коррекция табов
	.choose-property-container p, .choose-property-container  p {
		font-weight: 300;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 0.02em;
		margin-left: 25px;
		margin-bottom: 10px;
	}
	
	.choose-property-container:first-child .width-mod{
		margin-left: 24px;
		margin-top: 10px;
		
		z-index: 999;
	}
	.tab1 .choose-property-container:first-child .choose-property2{
		margin-left: 16px;
		margin-top: 0px;
		width: 131px;

	}
	.tab1 .choose-property-container:nth-child(3) .choose-property2{
		
		width: 170px;

	}
	.tab4 .choose-property-container:nth-child(3) .choose-property2{
		width: 150px;
		
	}
	.tab4 .choose-property-container:nth-child(3).rooms .choose-property2{
		width: 70px;
		
	}
	
	.choose-property-container:nth-child(2) .width-mod,
	.choose-property-container:nth-child(3) .width-mod2{
		
		z-index: 999;
	
	}
	.tab4 .choose-property-container:nth-child(3) .choose-property2{
		
		position: absolute;
		z-index: 9999;
	
	}
	
	.choose-property-container:nth-child(2) .width-mod li,
	.choose-property-container:nth-child(3) .width-mod2 li{
		font-weight: 500;
font-size: 14px;
line-height: 16px;

color: #0D0D0D;
	}
	.tab4 .choose-property-container:first-child .choose-property2{
		margin-left: 16px;
		margin-top: 0px;
		width: 170px;
		z-index: 999;
		
	}
	.choose-property-container:first-child .width-mod li{
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		margin-top: 14px;
		color: #0D0D0D;
 
		
	}
	.choose-property-container:nth-child(2) p {
		font-weight: 300;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 0.02em;
		margin-left: 10px;
		color: #5B5B5B;
		
	}
	.choose-property-container:nth-child(2) input{
		margin-left: 10px;
		margin-top: 10px;
	}
	.tab4 .choose-property-container:nth-child(2) input{
		margin-top: 0px;
	}
	.choose-property-container.rooms p{
		
		margin-left: 10px;
	}
	.choose-property-container.rooms .choose-property {
		margin-top: 10px;
		z-index: 999;
		
	}
	.choose-property-container.rooms .choose-property2 {
		margin-top: 0px;
		margin-left: 2px;
		width: 69px;
		z-index: 999;
		
	}
	.choose-property::after {
		right: 10px;
	}
	.tabs-cotainer .prices div,
	.tabs-cotainer .area div{
		position: relative;
	margin-left: 5px;
	margin-top: 3px;
	 font-weight: 300;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #5B5B5B;
width: 110px;
	}
	.tabs-cotainer .prices div:after{
		position: absolute;
		content: "";
		width: 15px;
		height: 15px;
		top: 5px;
		right: 18px;
		background-image: url(../img/redarrow.png);
		background-repeat: no-repeat;
	}
	.tabs-cotainer .prices input,
	.tabs-cotainer .area input{
		
		width: 60px;
		height: 50px;
		background: #FFFFFF;
		border: 1px solid #EEEEEE;
		box-sizing: border-box;
		border-radius: 3px;
		margin-top: 10px;
}
.prices input, .prices input::placeholder,
.area input,	.area input::placeholder{
			font-weight: 700;
			font-size: 14px;
			line-height: 16px;
			padding-left: 5px;
			color: #0D0D0D;
		
	
	}
	.advansed-block{
		padding-top: 20px;
		
	}
	.advansed-block-inputs {
	margin-left: 15px;	
	}
	.advansed-block-inputs input::placeholder,
	.advansed-block-inputs input{
		font-weight: 500;
font-size: 14px;
line-height: 16px;

color: #0D0D0D;
	}
	.advansed-block-inputs input{
		font-weight: 700;
	}
	.floor {

 margin-left: 25px;
	}
	.storeys, .balcony, .repairs {
		margin-left: 10px;
	}
	.bathroom{
		margin-left: 20px;
	}
	 .bathroom p{
		margin-left: 0px;
		
	}
	.balcony p, .repairs p{
		margin-left: 0px;
	}
	
	.floor div, .storeys div{
		margin-left: 0px;
	}
	.floor input, .storeys input,
	 .bathroom .choose-property,
	  .balcony .choose-property,
	   .repairs .choose-property{
		margin: 0;
		margin-top: 10px;
	}
	.bathroom .choose-property2{
		margin-left: -7px;
		width: 147px;
	}
	.balcony .choose-property2{
		margin-left: -7px;
		width: 100px;
	}
	.repairs .choose-property2{
		margin-left: -7px;
		width: 177px;
	}
	.floor input, .floor input::placeholder,
	.storeys input, .storeys input::placeholder{
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		color: #0D0D0D;
		
	}
	.floor input, .storeys input{
	
		font-weight: 700;
	
		
	}
.bathroom li,
.balcony li,
.repairs li{
	font-weight: 500;
font-size: 14px;
line-height: 16px;

color: #0D0D0D;
}
.show-on-map{
	margin-right: 15px;
}
.advansed-search:first-child{
	width: 86px;
	margin-right: 18px;
	margin-top: 0;
	font-weight: 500;
font-size: 14px;
line-height: 16px;

color: #0D0D0D;
}
.advansed-search:first-child::after{
	right: -10px;
}
.advansed-search.advansed-search-rotate{
	width: 186px;
}
.tab2 .choose-property-container:first-child .choose-property,
.tab2 .choose-property-container:first-child .choose-property2 li,
.tab2 .choose-property-container:first-child .choose-property2 {
	background-color: #ffffff;
	width: 180px;
}
.choose-property::after{
	z-index: 999;
}
.tab2 .choose-property-container:nth-child(2) .choose-property,
.tab2 .choose-property-container:nth-child(2) .choose-property li,
.tab2 .choose-property-container:nth-child(2) .choose-property2 li{
position: relative;
font-weight: 500;
font-size: 14px;
line-height: 16px;
z-index: 999;
color: #0D0D0D;
	width: 135px;
}
.tab3 .choose-property-container:first-child .choose-property,
.tab3 .choose-property-container:first-child .choose-property2 li {

	width: 130px;
}
.tab3 .choose-property-container:first-child .choose-property2{
	
	width: 130px;
}
.tab3 .choose-property-container:nth-child(2) .choose-property:after{
z-index: 999;
}
.tab3 .choose-property-container:nth-child(2) .choose-property,
.tab3 .choose-property-container:nth-child(2) .choose-property li,
.tab3 .choose-property-container:nth-child(2) .choose-property2 li{
position: relative;
font-weight: 500;
font-size: 14px;
line-height: 16px;
z-index: 999;
color: #0D0D0D;
	width: 185px;
}
}
@media (min-width: 1000px){
	.property {
		padding-top: 58px;

		min-height: 710px;
	}
	.property-container {
		
		width: 100%;
		max-width: 1350px;
		background-color: transparent;
		
	}
	.tabs-cotainer,
	.choose-property-shoosen-container {
		width: 100%;
		
	}
	.choose-property.desctop-mod {
		width: 755px;
	}
	.choose-property.desctop-mod li{
		padding-top: 30px;
	width: 188.37px;
	height: 104px;
	text-align: center;
			}
			.choose-property.desctop-mod li:nth-child(4) span{
				width: 112px;
				
			}
			.choose-property.desctop-mod li:nth-child(3){
				padding-left: 30px;
				padding-top: 40px;
			}
.choose-property.desctop-mod  span{
				margin: 0 auto;
				max-width: 140px;
				font-weight: 500;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.02em;

			}
.tabs-cotainer{
	
	margin-top: -10px;
	min-height: 215px;
	background-color: #FFFFFF;
	border-radius: 5px;
	border-top-left-radius: 0px;
}
.choose-property-shoosen-container {
	padding-top: 20px;
	padding-left: 15px;
	
}
.tabs-cotainer .choose-property-container:first-child .width-mod {
	 min-width: 160px;

}
.tabs-cotainer .choose-property-container:nth-child(2) .width-mod,
.tabs-cotainer .choose-property-container:nth-child(3) .width-mod2 {
	 
	min-width: 169px;
height: 50px;

}
.tabs-cotainer .prices{
	margin-left: auto;
}
.tabs-cotainer .area{
	margin-right: 40.5px;
}
.tabs-cotainer.tab1 .prices ,
.tabs-cotainer.tab1 .area {
	width: 205px;
	
}
.tabs-cotainer .prices input,
.tabs-cotainer .area input{
	
	width: 99px;
height: 50px;
}
.choose-property-buttons {
margin-right: 40px;	
margin-top: 16px;

}
.choose-property-buttons button{
	
min-width: 200px;

}
.show{
	margin-right: 0;
}
.property-checkbox label {
    display: inline-block;
}
.property-checkbox label:nth-child(4){
	margin-left: 20px;
}
.advansed-block .choose-property-shoosen-container{
	margin-top: 0px;
	padding-top: 0;
	
}
.advansed-block .floor,
.advansed-block .storeys{
	margin-top: 5px;
}
.advansed-block .storeys{
	margin-left: 30px;
}
.advansed-block .floor input,
.advansed-block .storeys input{
	
	width: 99px;
height: 50px;
}
.bathroom p,
	.balcony p {
	margin-top: 5px;
	margin-left: 5px;
}
.tabs-cotainer.tab4 .advansed-block .bathroom .choose-property,
.tabs-cotainer.tab4 .advansed-block .balcony .choose-property {
	margin-top: 18px;
	margin-left: 5px;
	min-width: 147px;
	
}
.tabs-cotainer.tab4 .advansed-block .bathroom .choose-property2,
.tabs-cotainer.tab4 .advansed-block .balcony .choose-property2 {
	min-width: 147px;
	z-index: 9999;
	margin-left: -1px;
	
}
.repairs p {
	margin-top: 5px;
	margin-left: 5px;
}
.tabs-cotainer.tab4 .advansed-block .repairs .choose-property {
	margin-top: 18px;
	margin-left: 5px;
	min-width: 195px;
	
	
}
.tabs-cotainer.tab4 .advansed-block .repairs .choose-property2 {
	min-width: 195px;
	z-index: 9999;
	margin-left: -1px;
}
.choose-property-buttons{
	// margin-top: 0px;

}
.choose-property-buttons .advansed-search{
	
	min-width: 50px;
	margin-top: 5px;
	margin-right: 35px;
}

.tab2 .street, .tab3 .street {
    width: 200px;
}



}
@media (min-width: 1350px){
	
   .tabs-cotainer .choose-property-container:nth-child(2) .width-mod,
   .tabs-cotainer .choose-property-container:nth-child(3) .width-mod2 {
	
	   min-width: 270px;
   height: 50px;
   
   }
   .tabs-cotainer .choose-property-container:not(:first-child) {
	
	  margin-left: 22px;
   }
}

@media (min-width: 1380px){
.main-services {
    padding-top: 50px;
    padding-bottom: 0px;
}
.options{
	margin-top: 20px;
}
}